################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PhotoOrganizer/PhotoOrganizer/bin/Debug/netcoreapp3.0
/PhotoOrganizer/PhotoOrganizer/obj
/PhotoOrganizer/.vs/PhotoOrganizer
/PhotoOrganizer/PhotoOrganizer/Settings.Conf
