################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PhotoOrganizer/PhotoOrganizer/bin/Debug/netcoreapp3.0
